VITE_SUPABASE_URL="https://hsadukhmcclwixuntqwu.supabase.co"
VITE_SUPABASE_ANON_KEY=""
VITE_BUILD_MODE="true"
VITE_ADMIN_EMAIL="mahdialmuntadhar1@gmail.com"
VITE_API_URL="https://hsadukhmcclwixuntqwu.supabase.co"
VITE_NABDA_URL="https://api.nabdaotp.com/inst/e01ed90e-1e03-4746-861a-c0a5d45e0d7e"
VITE_NABDA_KEY=""

# Required for AI features
GEMINI_API_KEY=""
